
header{
  text-align:center;
}

figure{
  text-align: center;
}

nav{
  padding-left: 10px;
  background-color: grey;
}

figcaption{
  font-size: small;
  text-align: center;
}

p#featured-property{
  width: 800px;
  text-align: center;
  padding-top: 5px;
}

div{
  float: left;
  background-color: red;
  text-align: center;
  
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
